@use "../utils";

.card {
    &-img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: utils.$clr-placeholder-img;
    }

    &-title {
        text-wrap: nowrap;
    }
}
