* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

:where(input, textarea):focus {
  outline: none;
}

* {
  font-family: "DM Sans", sans-serif;
}

h1 {
  color: rgb(144, 28, 28);
}

.photographer_section .card-title {
  color: rgb(211, 87, 60);
  font-size: 2.25rem;
}
.photographer_section .card-subtitle {
  color: rgb(144, 28, 28);
  font-size: 0.8125rem;
}
.photographer_section .card-description {
  color: rgb(0, 0, 0);
  font-size: 0.625rem;
}
.photographer_section .card-price {
  color: rgb(0, 0, 0);
  font-size: 0.5625rem;
}

.user-info .card-title {
  color: rgb(211, 87, 60);
  font-size: 4rem;
}
.user-info .card-subtitle {
  color: rgb(144, 28, 28);
  font-size: 1.5rem;
}
.user-info .card-description {
  color: rgb(0, 0, 0);
  font-size: 1.125rem;
}

.filter {
  font-size: 1.125rem;
  font-weight: 700;
}
.filter-container {
  color: rgb(255, 255, 255);
}

.media-container .card-title, .media-container .card-likes {
  color: rgb(144, 28, 28);
  font-size: 1.5rem;
}

.lightbox-btn {
  color: rgb(144, 28, 28);
  font-size: 2rem;
}

.user-numbers {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.contact_button {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;
}

.modal header h2 {
  color: rgb(0, 0, 0);
  font-size: 4rem;
}

form label {
  color: rgb(49, 46, 46);
  font-size: 2.25rem;
}

.card-img {
  background-color: rgb(196, 196, 196);
}
.card-title {
  text-wrap: nowrap;
}
.card-likes::after {
  content: "\f004";
  font-family: "FontAwesome";
  margin-inline: 0.5rem;
}

.photographer_section .card-img,
.photograph-header .card-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.media-container .card-img {
  width: 350px;
  height: 300px;
  cursor: pointer;
}
.media-container .card-img[data-lightbox_focus=true] {
  width: clamp(50vw, 90vw, 66rem);
  height: auto;
  max-height: 92dvh;
  aspect-ratio: 35/30;
  cursor: default;
}
.media-container .card-likes {
  cursor: pointer;
  transition: font-family 500ms;
}
.media-container .card-likes::after {
  font-family: "Font Awesome 6 Free";
}
.media-container .card-likes[data-liked=true]::after {
  font-family: "FontAwesome";
}

.contact_button {
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: rgb(144, 28, 28);
  border-radius: 5px;
  cursor: pointer;
}

body {
  margin-inline: 6.25rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section .card a {
  width: fit-content;
  height: fit-content;
  margin: auto;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgb(255, 255, 255);
}
.background[data-lightbox_opened=true] {
  display: block;
}
.background .lightbox-btn {
  width: 2rem;
  height: 2rem;
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.background .lightbox-btn:has(.fa-x) {
  inset: 2rem 2rem 0 auto;
}
.background .lightbox-btn:has(.fa-chevron-left) {
  inset: 0 2rem;
  margin-block: auto;
}
.background .lightbox-btn:has(.fa-chevron-right) {
  inset: 0 2rem 0 auto;
  margin-block: auto;
}

#contact_modal {
  position: fixed;
  top: 5%;
  left: 25%;
  width: 50%;
  height: 90%;
  display: none;
}

.photograph-header {
  background-color: rgb(250, 250, 250);
  height: 18.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-block-end: 2rem;
}
.photograph-header .user-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filter {
  width: 16rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.filter-container {
  width: 10rem;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(144, 28, 28);
  border-radius: 0.3rem;
}
.filter-extender {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  cursor: pointer;
}
.filter-parameters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.filter-parameters li {
  margin-inline-end: 2.5rem;
  cursor: pointer;
}
.filter-parameters .hr {
  height: 1px;
  background-color: rgb(255, 255, 255);
}
.filter-parameters :not(:nth-child(1)) {
  display: none;
}

.media-container {
  margin-block: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  grid-gap: 1rem;
}
.media-container .card {
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
}
.media-container .card-img {
  grid-column: span 2;
}
.media-container .card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.media-container .card-likes {
  justify-self: flex-end;
  margin-inline-start: 2rem;
}
.media-container .card:has(.card-img[data-lightbox_focus=true]) {
  width: 100%;
  height: 100dvh;
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 11;
}
.media-container .card:has(.card-img[data-lightbox_focus=true]) .card-likes {
  display: none;
}

.user-numbers {
  position: fixed;
  bottom: 0;
  right: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem 0.3rem 0 0;
  background-color: rgb(219, 136, 118);
  display: flex;
  gap: 4rem;
}

.modal {
  border-radius: 0.3rem;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 1.5rem;
}

form :where(input, textarea) {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.3rem;
}

form textarea {
  height: 11rem;
}

/*# sourceMappingURL=style.css.map */
