* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

img {
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

:where(input, textarea):focus {
    outline: none;
}
