@use "../utils";

* {
    font-family: "DM Sans", sans-serif;
}

h1 {
    color: utils.$clr-txt-secondary;
}

.photographer_section article h2 {
    color: utils.$clt-txt-primary;
    font-size: 2.25rem;
}

.contact_button {
    color: utils.$clr-txt-light;
    font-size: 1.25rem;
    font-weight: 700;
}

.modal header h2 {
    font-size: 4rem;
    font-weight: 400;
}

form label {
    color: utils.$clr-txt-darker;
    font-size: 2.25rem;
}
