@use "../utils";

* {
    font-family: "DM Sans", sans-serif;
}

h1 {
    color: utils.$clr-primary;
}

.photographer_section .card {
    &-title {
        color: utils.$clr-secondary;
        font-size: 2.25rem;
    }
    &-subtitle {
        color: utils.$clr-primary;
        font-size: 0.8125rem;
    }
    &-description {
        font-size: 0.625rem;
    }
    &-price {
        font-size: 0.5625rem;
    }
}

.user-info .card {
    &-title {
        color: utils.$clr-secondary;
        font-size: 4rem;
    }
    &-subtitle {
        color: utils.$clr-primary;
        font-size: 1.5rem;
    }
    &-description {
        font-size: 1.125rem;
    }
}

.filter {
    font-size: 1.125rem;
    font-weight: 700;

    &-container {
        color: utils.$clr-txt-light;
    }
}

.media-container .card {
    &-title,
    &-likes {
        color: utils.$clr-primary;
        font-size: 1.5rem;
    }
}

.contact_button {
    color: utils.$clr-txt-light;
    font-size: 1.25rem;
    font-weight: 700;
}

.modal header h2 {
    font-size: 4rem;
}

form label {
    color: utils.$clr-txt-darker;
    font-size: 2.25rem;
}
