$clr-primary: rgb(144, 28, 28);
$clr-secondary: rgb(211, 87, 60);

$clr-bg-light: rgb(255, 255, 255);
$clr-bg-dark: rgb(250, 250, 250);

$clr-txt-light: rgb(255, 255, 255);
$clr-txt-dark: rgb(82, 82, 82);
$clr-txt-darker: rgb(49, 46, 46);
$clr-txt-darkest: rgb(0, 0, 0);

$clr-border: rgb(115, 115, 115);
$clr-placeholder-txt: rgb(178, 178, 178);
$clr-placeholder-img: rgb(196, 196, 196);
