body {
    max-width: 90rem;
    margin: 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.home {
    gap: 6rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 12.5rem;
    height: 3.125rem;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;

    .card a {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 90rem) {
    body {
        margin-inline: calc((100vw - 90rem) / 2 + 6rem);
    }
}
