@use "../utils";

.photographer {
    gap: 3rem;
}

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: utils.$clr-bg-light;

    &[data-lightbox_opened="true"] {
        display: block;
    }

    &-btn {
        width: 2.625rem;
        height: 2.625rem;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;

        i {
            width: 100%;
        }

        &:has(.fa-x) {
            inset: 2rem 2rem 0 auto;
        }

        &:has(.fa-chevron-left) {
            inset: 0 2rem;
            margin-block: auto;
        }

        &:has(.fa-chevron-right) {
            inset: 0 2rem 0 auto;
            margin-block: auto;
        }
    }

    .card {
        display: none;

        &[data-lightbox_focus="true"] {
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            position: fixed;
            inset: 1rem 0;
            margin: auto;
            z-index: 11;
        }
    }
}

.photograph-header {
    background-color: utils.$clr-bg-dark;
    height: 18.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-block-end: 2rem;

    .user-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.filter {
    width: 16rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;

    &-container {
        width: 10rem;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: utils.$clr-primary;
        border-radius: 0.3rem;
    }

    &-extender {
        width: 3rem;
        height: 4rem;
        position: absolute;
        top: 0;
        right: 0;
        align-content: center;
        text-align: center;
        cursor: pointer;
    }

    &-parameters {
        display: flex;
        flex-direction: column;

        :nth-child(1) {
            margin-inline-end: 1.5rem;
        }

        li {
            height: 3rem;
            cursor: pointer;
            align-content: center;
        }

        .hr {
            height: 1px;
            background-color: utils.$clr-bg-light;
        }

        :not(:nth-child(1)) {
            display: none;
        }
    }
}

.media-container {
    margin-block: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;

    .card {
        width: 21.875rem;
        height: 21.875rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;

        &-img {
            grid-column: span 2;
        }

        &-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-likes {
            justify-self: flex-end;
            margin-inline-start: 2rem;
        }
    }
}

.user-numbers {
    position: fixed;
    bottom: 0;
    right: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: utils.$clr-tertiary;
    display: flex;
    gap: 4rem;
}

#contact_modal {
    position: fixed;
    inset: 0;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    width: 80%;
    max-width: 42rem;
    height: 90%;
    max-height: 56.25rem;
    border-radius: 0.3rem;
    background-color: #db8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 1rem;
    overflow-y: auto;
    box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4);
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-block: 0.5rem 1rem;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    white-space: pre-line;
    flex-wrap: nowrap;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1.5rem;
}

form :where(input, textarea) {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 0.3rem;
}

form textarea {
    height: 7rem;
}

form :where(input:not([type="submit"]), textarea):focus {
    outline: 2px solid utils.$clr-primary;
}

form input[type="submit"]:focus {
    outline: 2px solid utils.$clr-bg-light;
}

.modal .close-modal-btn:focus {
    filter: drop-shadow(2px 2px 1px utils.$clr-primary);
    outline: none;
}

@media (min-width: 90rem) {
    $margin-inline: calc((100vw - 90rem) / 2);
    $margin-inline-numbers: calc($margin-inline + 2rem);
    $margin-inline-lightbox: calc($margin-inline + 6rem);

    $margin-block-start: calc((100dvh - 60rem) / 2 + 2.5rem);
    $margin-block-end: calc((100dvh - 60rem) / 2 + 1rem);

    .user-numbers {
        right: $margin-inline-numbers;
    }

    .lightbox {
        &-btn {
            &:has(.fa-x) {
                inset: $margin-block-start $margin-inline-lightbox 0 auto;
            }

            &:has(.fa-chevron-left) {
                inset: 0 $margin-inline-lightbox;
                margin-block: auto;
            }

            &:has(.fa-chevron-right) {
                inset: 0 $margin-inline-lightbox 0 auto;
                margin-block: auto;
            }
        }

        .card[data-lightbox_focus="true"] {
            inset: $margin-block-start 0 $margin-block-end;
        }
    }
}
