@use "../utils";

#contact_modal {
    position: fixed;
    top: 33%;
    left: 25%;
    width: 50%;
    display: none;
}

.photograph-header {
    background-color: utils.$clr-bg-dark;
    height: 18.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-block-end: 2rem;

    .user-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.filter {
    width: 16rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;

    &-container {
        width: 10rem;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: utils.$clr-primary;
        border-radius: 0.3rem;
    }

    &-extender {
        position: absolute;
        top: 0.75rem;
        right: 1.25rem;
        cursor: pointer;
    }

    &-parameters {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
            margin-inline-end: 2.5rem;
            cursor: pointer;
        }

        .hr {
            height: 1px;
            background-color: utils.$clr-bg-light;
        }

        :not(:nth-child(1)) {
            display: none;
        }
    }
}

.media-container {
    margin-block: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;

    .card {
        max-width: 350px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;

        &-img {
            grid-column: span 2;
        }

        &-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-likes {
            justify-self: flex-end;
            margin-inline-start: 2rem;
        }
    }
}

.user-numbers {
    position: fixed;
    bottom: 0;
    right: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: utils.$clr-tertiary;
    display: flex;
    gap: 4rem;
}

.modal {
    border-radius: 0.3rem;
    background-color: #db8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1.5rem;
}

form input {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 0.3rem;
}
